body {
    width: 400px;
}

div div{
    border: 5px solid black;
    margin: 5px;
}

.right{
    position: relative;
    margin: 5px;
    float: right;
}

.red{
    border-color: red;
    color: red;
    font-weight: bold;
}